* {
    margin: 0px;
}

.pokedex-header, .pagination-container, .container-navbar{
    align-items: center;
    display: flex;
    flex-direction: row;
}

nav{
    height: 100px;
    width: 100%;
}

.navbar-img{
    width: 120px;
}

.container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    width: 30%;
}

.container-navbar{
    justify-content: space-between;
    width: 35%;
}

.searchbar-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding: 0 20px;
}


.searchbar{
    background-color: white;
    margin-right: 20px;
    width: 90%;
}

.searchbar input{
    border: none;
    border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 10px;
    width: 90%;
}

.searchbar-btn button{
    background-color: #0e6f9f;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    height: 33px;
    padding: 0 25px;
    opacity: 0.8;
}

.searchbar-btn button:hover{
        opacity: 1;
}

.container-gadgets{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 38%;
}

.container-gadgets span{
    cursor: pointer;
    font-size: 1.1rem;
}

.pokedex{
    height: 141vh;
}

.pokedex-header{
    justify-content: space-between;
    padding: 10px 10px 20px 10px;
}

.pagination-container{
    gap: 8px;
}

.pagination-container button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}

.pokedex-grid{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.pokemon-card{
    border-radius: 3px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: white;
    display: flex;
}

.pokemon-image-container{
    height: 90px;
    width: 101px;
}

.pokemon-image{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.btn-type-pokemon{
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 3px 10px;
}

.card-body, .card-top, .card-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-body{
    flex: 1;
    flex-direction: column;
    padding: 10px 10px 10px 0;
}

.card-top h3, .pokemon-type-text{
    text-transform: capitalize;
}

.card-bottom, .card-top{
    align-items: center;
}

.pokemon-type{
    display: flex;
}

.pokemon-type-text{
    margin-right: 10px;
}

.pokemon-hearth-btn{
    align-items: center;
    background-color: transparent;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    padding: 4px;
}

.not-found-text{
    font-size: 1.25rem;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .container{
        margin: 0px;
        padding: 10px 0px;
        width: 100%;
    }

    .container-navbar{
        align-items: center;
        flex-direction: column;
        gap: 8px;
    }

    .container-gadgets{
        margin-right:  10px;
    }

    .pokedex-header{
        padding: 35px 10px 25px 10px;
    }

    .pokedex-grid{
        grid-template-columns: 100%;
    }
}