nav.dark{
    background-color: #222;
}

nav.dark .searchbar{
    background-color: transparent;
    border-bottom: 1px solid #fff;
}

nav.dark input{
    background-color: transparent;
    color: white;
    outline: none;
}

nav.dark span{
    color: white;
}

.pokedex.dark{
    background-color: #222;
    color: white
}

.pokedex.dark .pokemon-hearth-btn{
    background-color: transparent;
}