.container-info{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
}

.info-container{
    border-radius: 30px 30px 0 0;
    height: 90%;
    width: 30%;
}

.info-header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem;
}

.info-header svg{
    cursor: pointer;
}

.info-header .h2{
    text-transform: capitalize;
}

.icon-star:hover{
    color: red;
}

.icon-star:hover path{
    fill: red;
}

.info-container figure{
    align-items: center;
    display: flex;
    justify-content: center;
}

.info-container figure img{
    object-fit: cover;
    max-width: 200px;
    width: 55%;
    z-index: 999;
}

.container-infos-pokemon{
    background-color: white;
    border-radius: 40px 40px 0 0;
    color: black;
    display: block;
    height: 65%;
    margin: 0 auto;
    position: absolute;
    overflow-y: auto;
    top: 25%;
    width: 100%;
}

.container-infos-pokemon .h2{
    text-align: center;
    text-transform: capitalize;
}

.container-infos-pokemon > .h2{
    padding-top: 40px;
}

.type-info{
    padding-top: 10px;
}

.type-info, .info-weight-height{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.info-weight-height{
    border-bottom: 1px solid #ddd;
    padding: 10px 0 20px 0;
}

.info-weight-height button{
    background-color: transparent;
    border: none;
}

.btn-type-pokemon{
    cursor: pointer;
}

.info-container section{
    position: relative;
    height: 100%;
}


.infos-pokemon{
    flex-direction: column;
    margin: 1rem 1.3rem 0 1.3rem;
    gap: 10px;
    width: 90%;
}


.info-status{
    align-items: center;
    display: flex;
    padding: 10px 0px 8px 0px;
    text-transform: capitalize;
}

.info-status p{
    width: 8rem;
}

.info-status .status{
    background-color: #eee;
    border: 1px solid black;
    border-radius: 100px;
    height: 0.625rem;
    width: 70%;
}

.info-status .status-quant{
    background-color: red;
    height: 100%;
}

@media screen and (max-width: 640px){
    .info-container{
        border-radius: 0;
        height: 100%;
        width: 100%;
    }

    .container-infos-pokemon{
        height: 74%;
        overflow: none;
        width: 100%;
    }

    .info-container figure img{
        max-width: none;
        width: 57%;
    }
}