.container-info{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
}

.info-container{
    height: 90%;
    width: 30%;
}

.info-header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem;
}

.info-header svg{
    cursor: pointer;
}

.icon-star:hover{
    color: red;
}

.icon-star:hover path{
    fill: red;
}

@media screen and (max-width: 640px){
    .info-container{
        height: 100%;
        width: 100%;
    }
}